<div id="balance-header" class="container">
    <div class="mt-2 mb-2 card main-balance">
        <div class="mi-bal-header"></div>

        <div class="mi-bal-body d-flex card-body align-items-center justify-content-between">
            <div class="mi-bal-right">
                <span>Available Balance</span>
                <span>( <span id="total-acct-count">3</span> wallets)</span>
                <div class="d-flex">
                    <div class="mi-bal-left d-flex align-items-center"><i class="fas fa-cannabis"></i>&nbsp;</div>
                    <div id="mi-bal-amount" class="display-1">10,000 ₹</div>
                    &nbsp;&nbsp;
                </div>
                <div type="button" class="" data-bs-toggle="modal" data-bs-target="#allIncomes">
                    <div class="view-income-btn url mt-2">View Income Transactions</div>
                </div>
            </div>
            <div class="mi-bal-right">
                <button type="button" class="btn btn-primary m-2 add-wallet-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-wallet"></i>
                    <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary m-2 add-income-btn" data-bs-toggle="modal" data-bs-target="#incomeModal">
                    <i class="fas fa-hand-holding-usd"></i>
                </button>
            </div>


        </div>
    </div>
</div>