@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');


*{
    font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}



html, body{
    width: 100%;
    height: 100%;
}

.nav-item{
    padding: 20px 15px;
    font-size: 25px;
    margin:0px 5px; 
}

.active {
    border-bottom: 2px solid #142d4c;
    border-radius: 2px;
    /* background-color: ; */
}


#date-range-type{
    background-color: #ececec;
    padding: 12px;
    font-weight: 600;
    /* font-size: 20px; */
}

.label{
    background-color: #142d4c;
    padding: 0px 10px;
    color: white;
}

.form-select{
    border-radius: 0px !important;
}

.expense-card:hover{
    /* cursor: pointer; */
    box-shadow: 15px 15px 20px #5f5f5f57;
    transition: all ease-in-out 150ms;

}

.expense-card, .wallet-card{
    color:#142d4c;
    margin: 15px 0px;
}




.expense-card .expense-card-time, .expense-card-amount,.expense-card .title,.expense-card-left .category{
}

.expense-card-left{
    padding: 0px 10px;

}

.expense-view-btn{
    /* display: none; */
    position: absolute;
    /* right:0px; */
    width: 100%;
    bottom: 0px;
    height: 100%;
    opacity: 0%;
    border-radius: 0px;
    transition: all ease-in-out 1050ms;
    /* background-color: #66a2f7 !important; */
}

.expense-card-wallet{
    width: 350px;
}


.wallet-card, .fs-20{
    font-size: 20px;
}

.bank-name{
    width: 350px;
}

.acct-type{
    font-size: 17px;
    opacity: 80%;
}

.nav-item{
    cursor: pointer;
}

.date-grouping{
    font-size: 20px;
}

.category-ico, .wallet-card .fa-solid {
    border-radius: 50%;
    /* background-color: #9fd3c7; */
    padding: 5px;
    color: #fff;

}

#form-category-icon{
    border-radius: 5px 0px 0px 5px;
    background-color: #142d4c;
    padding: 8px;
    color: #9fd3c7;
    width: 35px;
}

#new-category-icon{

    width: 80px;
    padding: 10px;
    /* font-size: 20px; */
}

.modal .spend-amount{
    background-color: #9fd3c7;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
}
.modal .title{
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    border-bottom: 1px solid black;

}

#new-category-icon option{
    font-family: 'Lato', 'Font Awesome 5 Free';
}

#expense-more, .url{
    color: #3366CC;
    cursor: pointer;
}

.more-expense-info{
    display: none;

}

#output {
  padding: 20px;
  background: #dadada;
}

form {
  margin-top: 20px;
}

select {
  width: 300px;
}


.selectize-input .item{
    background-color:#9fd3c7 !important;
}

.btn-primary{
    background-color: #9fd3c7;
    border-color: #9fd3c7;
    color: #142d4c;
}

#new-category-icon, .category-ico, .create-category-ico {
    font-family: 'Lato', 'Font Awesome 5 Free';
    font-weight: 900;
   
}
.category-ico{
    width: 40px;
    overflow: hidden;
    /* padding: 20px; */
    width: 100px;
    height: 100px;
    border-radius: 0px;
    font-size: 50px;
}

.expense-card .card-body{
    padding: 0px;
}

.create-category-ico{
    width: 70px;
}

.create-category-option{
    background-color: #c1dbdb;
    color: #142d4c;
    padding: 10px;
}


#spinner{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute !important;
    backdrop-filter: blur(10px);
    z-index: 999;   
}

.modal-body .h5{
    font-weight: 900 !important;
}

.btn-primary:hover{
    border-color: #9fd3c7;
    background-color: #43cead;
    color: #142d4c;
    transition: all ease-in-out 500ms;
}

.input-group-text{
    width: 80px;
    display: flex;
    justify-content: center;
}

.selectize-control.default.multi .selectize-input>div{
    background: none !important;;
    background-color: #9fd3c7 !important;
}

.w90{
    width: 90%;
}

#all-wallet-splits .far{
    font-size: 20px;
    color:rgba(255, 0, 0, 0.205);
    margin:1;
    padding: 10px;
    position:absolute;
    right: 10px;
}

#all-wallet-splits .far:hover{

    color:rgb(255, 0, 0);
    font-size: 21px;
    transition: all ease-in-out;

}


.expense-edit-btn{
    /* margin: 5px; */
    background-color: #F08080;
    color: #142d4c;
}






.wallet-header-balance{
    height: 150px;
    border-collapse: separate; 

    border-radius: 50px;
}



.add-wallet-btn, .add-income-btn{
    /* height: 40px; */
    font-size: 30px;
    width: 70px;
    position: relative;
    padding: 10px 10px !important;
}

.add-wallet-btn .fa-plus, .add-income-btn .fa-plus{
    position: absolute;
    /* top: 30px; */
    right:0px;
    bottom: 0px;
}

.balance-section{
    color: white    ;
}

.main-balance{
    background-color: #1c1d21;
    border-radius: 15px;
    color: white;
}

.mi-bal-body{
    height: 150px;
    background-color: #131519;
    border-radius: 10px;
}

.main-balance .card-body{
    /* padding: 20px; */
}

.mi-bal-left .fas{
    padding: 10px;
    background-color: #7da9e6;
    border-radius: 13px;
    /* padding: 7px 0px; */

}

.mi-bal-right{
    padding: 0px 20px;
    font-weight: 600;
}

#mi-bal-amount{
    font-size: 40px;
    /* font-weight: 500; */
    padding: 7px 0px;
}

.credit-card{
    width: 400px;
    height: 210px;
    /* background-color: #131519; */
    /* background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%); */
    border-radius: 15px;
    padding: 20px;
    color: #ffffff;
    background-color: #313131;
    font-family: 'Montserrat', sans-serif;

}

.expense-card .fa-tag{
    padding: 5px;
    border-radius: 30px;
    background-color: #f7b5b5;
}

.credit-card h4{
    font-weight: 900;
}

.tags-section{
    background-color: #43cead;
    padding: 7px 10px 7px 7px;
    border-radius: 30px;
}

.tags-section .tag-text{
    background-color: #fff;
    padding: 1px 10px;
    border-radius: 10px;
}

.credit-card:hover{
    filter: drop-shadow(5px 5px 10px #000);
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

.credit-card .amount{
    font-size: 30px;
}

.credit-cards{
    width: 95%;
    overflow-x: scroll;
    position: relative;
    /* padding: 10px; */
    /* margin: 0px; */
}

.pay-bill-btn{
    /* width: 50px; */
    background-color: #ffff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0);
}
.pay-bill-btn:hover{
    border: 1px solid #ffff;
}


.credit-cards::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.credit-cards::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
    height: 3px;
}

.credit-cards::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
.cards-scroller{
    position: absolute;
    
    height: 70%;
    width: 30px;
    background-color: rgba(0, 171, 238, 0.226);
    font-size: 40px;
    color: rgba(255, 255, 255, 0.226);
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
    top: 63px;
}

.card-sc-right {
    right: 0px;
    border-radius: 0px 20px 20px 0px;
    display: flex;

}

.cards-scroller:hover{
    background-color: rgba(0, 171, 238, 0.596);
    color: rgba(255, 255, 255, 0.596);
    transition: all ease-in-out 100ms;

}

.cards-section{
    position: relative;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg : #9fd3c7;
    --bs-btn-border-color: #9fd3c7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9fd3c7;
    --bs-btn-hover-border-color: #9fd3c7;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9fd3c7;
    --bs-btn-active-border-color: #9fd3c7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9fd3c7;
    --bs-btn-disabled-border-color: #9fd3c7;
}

.wallet-info-label .fas{
    font-size: 15px;
    color:orange;
}

.edit-wallet-btn{
    display: none;
}

.card-sc-left{
    display: none;
}

.overdraft-warning{
    display: none;
    position: absolute;
}


.expense-card-bal-cont{
    width: 200px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: #7da9e6;
    position: absolute;
    right: 0;
}

.expense-card-bal-cont .spend-amount{
    font-size: 30px;
    color: #142d4c;
    font-weight: 900;   
    /* top: 20px; */
    padding: 4px;
}

.reporting-days-total{
    padding: 10px 20px;
    /* background-color: ; */
}

.reporting-total-symbol{
    padding: 10px;
    background-color: #142d4c;
    color: white;
    font-weight: 600;
    /* font-weight: 40px !important; */
    /* font-family: 'Lato', 'Font Awesome 5 Free'; */
}


/* New wallet card design */

.wallet-card{
    width: 350px;
    height: 300px;

    color: white;

    background-image: linear-gradient(135deg, #636262 0%, black 100%);
    
    border-radius: 16px;
     
    border: 1px solid rgba(120, 225, 211, 0.1);
    transition: all ease-in-out 100ms;
    font-family: 'Montserrat', sans-serif;


}
.wallet-card:hover{
    transition: all ease-in-out 100ms;
}
.wallet-card .bank-name{
    font-size: 26px;
    text-transform: capitalize;
}

.wallet-card .modal .bank-name{
    /* font-size: 0px; */
    /* text-decoration: underline; */

    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.wallet-card .balance{
    font-size: 40px;
    text-transform: capitalize;
    margin: 30px 0px;
}

.wallet-card .rupee-symbol{
    font-size: 30px;
}

.wallet-card .modal{
    color: black;
}

.wallet-card #open-wallet-btn{
    width:100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

#all-wallets-container{
    display: flex;;
}

.cards-container .modal .amount{
    font-size: 40px;
}

.uncommon-wallet-field .ucf-key{
    width: 100px;
    font-weight: bold;
    /* background-color: red; */
}

.uncommon-wallet-field .ucf-value:hover{
    border-bottom: 1px solid black;
}

.uncommon-wallet-field{
    display: flex;
}