@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');


*{
    font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.navbar .title h2{
    font-family: 'Kaushan Script', cursive !important;
    color: white;
}

.title .fa-chart-pie{
    font-size: 2rem;
    color: white;
}

.monthly-event-list{
    padding:20px;
}

html, body{
    width: 100%;
    height: 100%;
}

.nav-item{
    padding: 10px 15px;
    font-size: 25px;
    margin:0px 5px; 
    color: #fff;
}

.nav-item:hover{
    color: #43cead;
}

#expense-name{
    height: 50px;
    font-size: 1.5rem;
}

.active {
    border-bottom: 2px solid #fff;
    border-radius: 2px;
    /* background-color: ; */
}

#expense-card-container{
    /* min-height: 450px; */
}
#reportrange{
    /* height: 50px;
    border: 1px solid #aaa; */
    font-size: 17px;
    cursor: pointer;
}

#expense-card-container{
    overflow-y: scroll;
    height: 750px;
}



:-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(107, 107, 107, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


#reportrange .selector{
    font-weight: bold !important;
}

.date-range-sico{
    /* border-left: 1px solid rgba(255, 255, 255, 0.274);
    background-color: #142d4c;
    color: white !important; */
    font-size: 15px !important;
}
.view-type{
    width: 40px;
    font-weight: 600;
    font-family: 'Lato', 'Font Awesome 5 Free';
}

.view-type option{
    font-weight: 600;
    font-family: 'Lato', 'Font Awesome 5 Free';
}
/* #date-range-type{
    background-color: #142d4c;
    font-weight: 600;
    text-transform: uppercase;
    height: 100%;
    padding: 10px 10px;
    color: white;
} */

/* #dashboard .container{
    background-color: #ebedee;
} */

.show-more-section{
    border-top: 1px solid #1c1d21;
    padding:10px;
}

.date-range-section .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 100%;
    font-size: 23px;
    color: #000;
}



.label{
    background-color: #142d4c;
    padding: 0px 10px;
    color: white;
}

.form-select{
    border-radius: 0px !important;
}

.expense-card:hover{
    /* cursor: pointer; */
    box-shadow: 15px 15px 20px #5f5f5f57;
    transition: all ease-in-out 150ms;

}

.expense-card, .wallet-card{
    color:#142d4c;
    margin: 15px 0px;
}


.expense-card-left{
    padding: 0px 10px;
    width: 300px;
}

.expense-view-btn{
    /* display: none; */
    position: absolute;
    /* right:0px; */
    width: 100%;
    bottom: 0px;
    height: 100%;
    opacity: 0%;
    border-radius: 0px;
    transition: all ease-in-out 1050ms;
    /* background-color: #66a2f7 !important; */
}

.wallet-name .muted{
    opacity: 0.5;
}

.wallet-name-section .add-wallet-bt{
    position: absolute;
}

.nr-no-wallet-ind{
    font-size: 24px;
    /* width: 100%; */
    border: 1px solid rgba(95, 95, 95, 0.281);
    border-radius: 5px;
}

.nr-no-wallet-ind .fas{
    color: #f0ad4e;
    padding: 0px 10px;
}

.expense-card-wallet{ 
    width: 300px;
}


.wallet-card, .fs-20{
    font-size: 20px;
}

.form-wallet-list, .form-wallet-list option[value="-100"] {
    font-family: 'Lato', 'Font Awesome 5 Free';
    font-weight: 900;
}

.bank-name{
    width: 140px;
}

.acct-type{
    font-size: 17px;
    opacity: 80%;
}

.nav-item{
    cursor: pointer;
}

.date-grouping{
    font-size: 20px;
}

.category-ico, .wallet-card .fa-solid {
    border-radius: 50%;
    /* background-color: #9fd3c7; */
    padding: 2px;
    color: #fff;

}

#form-category-icon{
    border-radius: 5px 0px 0px 5px;
    background-color: #142d4c;
    padding: 8px;
    color: #9fd3c7;
    width: 35px;
}

.expcard-body .popup-modals{
    color: #000;
}

#new-category-icon{

    width: 80px;
    padding: 10px;
    /* font-size: 20px; */
}

.modal .spend-amount{
    background-color: #9fd3c7;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
}
.modal .title{
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    border-bottom: 1px solid black;

}

#new-category-icon option{
    font-family: 'Lato', 'Font Awesome 5 Free';
}

#expense-more, .url{
    color: #3366CC;
    cursor: pointer;
}

.more-expense-info{
    display: none;

}

#output {
  padding: 20px;
  background: #dadada;
}

form {
  margin-top: 20px;
}

select {
  width: 300px;
}

.htimespan-select .options{
    display: none;
    position: absolute;
    top : 20px;
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-radius: 10px;
}

.htimespan-select .options .option{
    padding: 5px 4px;
    border: 1px solid #43ceae36;
    background-color: #131519;
}

.htimespan-select .options .option:hover{
    background-color: #43cead;
    color: #000000;
    border-radius: 5px;;
}

.main-balance .htimespan-select{
    cursor: pointer;
    position: relative;
    
}



.selectize-input .item{
    background-color:#9fd3c7 !important;
}

.btn-primary{
    background-color: #9fd3c7;
    border-color: #9fd3c7;
    color: #142d4c;
}

#new-category-icon, .category-ico, .create-category-ico {
    font-family: 'Lato', 'Font Awesome 5 Free';
    font-weight: 900;
   
}

.expense-card{
    border-radius: 20px;
}
.expense-card .expcard-body {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 55px;
    margin-left: 10px;
}
.expense-card .category-ico{

    background-color: #131519 !important;
    border-color: 1px solid white;
    border-radius: 10px;


}

.expense-card .category-ico{
    overflow: hidden;
    width: 40px;
    border-radius: 0px;
    font-size: 25px;
    padding: 7px 30px;
    border-radius: 10px;
}

.expense-card .expcard-body{
    padding: 0px;
    background-color: #363636 !important;
    color: #fff;
}

.expense-card .expcard-body  .tags-section{
    color: #000 !important;
}

.create-category-ico{
    width: 70px;
}

.create-category-option{
    background-color: #c1dbdb;
    color: #142d4c;
    padding: 10px;
}


#spinner{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute !important;
    backdrop-filter: blur(10px);
    z-index: 999;   
}

.modal-body .h5{
    font-weight: 900 !important;
}

.btn-primary:hover{
    border-color: #9fd3c7;
    background-color: #43cead;
    color: #142d4c;
    transition: all ease-in-out 500ms;
}

.input-group-text{
    width: 80px;
    display: flex;
    justify-content: center;
}

.selectize-control.default.multi .selectize-input>div{
    background: none !important;;
    background-color: #9fd3c7 !important;
}

.w90{
    width: 90%;
}

#all-wallet-splits .far{
    font-size: 20px;
    color:rgba(255, 0, 0, 0.205);
    margin:1;
    padding: 10px;
    position:absolute;
    right: 10px;
}

#all-wallet-splits .far:hover{

    color:rgb(255, 0, 0);
    font-size: 21px;
    transition: all ease-in-out;

}


.expense-edit-btn{
    /* margin: 5px; */
    background-color: #F08080;
    color: #142d4c;
}






.wallet-header-balance{
    height: 150px;
    border-collapse: separate; 

    border-radius: 50px;
}



.add-wallet-btn, .add-income-btn{
    /* height: 40px; */
    font-size: 30px;
    width: 70px;
    position: relative;
    padding: 10px 10px !important;
}

.add-wallet-btn .fa-plus, .add-income-btn .fa-plus{
    position: absolute;
    /* top: 30px; */
    right:0px;
    bottom: 0px;
}

.balance-section{
    color: white    ;
}

.main-balance{
    background-color: #1c1d21;
    border-radius: 15px;
    color: white;
}

.mi-bal-body{
    height: 150px;
    background-color: #131519;
    border-radius: 10px;
}

.main-balance .card-body{
    /* padding: 20px; */
}

.mi-bal-left .fas{
    padding: 10px;
    background-color: #7da9e6;
    border-radius: 13px;
    /* padding: 7px 0px; */

}

.mi-bal-right{
    padding: 0px 20px;
    font-weight: 600;
}

#mi-bal-amount{
    font-size: 40px;
    /* font-weight: 500; */
    padding: 7px 0px;
}

.credit-card{
    width: 400px;
    height: 210px;
    /* background-color: #131519; */
    /* background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%); */
    border-radius: 15px;
    padding: 20px;
    color: #ffffff;
    background-color: #313131;
    font-family: 'Montserrat', sans-serif;
    position: relative;

}

.expense-card .fa-tag{
    padding: 5px;
    border-radius: 30px;
    background-color: #f7b5b5;
}

.credit-card h4{
    font-weight: 900;
}

.tags-section{
    background-color: #43cead;
    padding: 2px 10px;
    border-radius: 30px;
}

 .tag-text{
    background-color: #43cead;
    padding: 1px 5px;
    border-radius: 10px;

}

.credit-card:hover{
    filter: drop-shadow(2px 2px 5px rgb(82, 82, 82));
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.credit-card .amount{
    font-size: 30px;
}

.card-symbol{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 25px;
}

.credit-cards{
    overflow-x: scroll;
    /* padding: 10px; */
    /* margin: 0px; */
}

.pay-bill-btn{
    /* width: 50px; */
    background-color: #ffff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0);
}
.pay-bill-btn:hover{
    border: 1px solid #ffff;
}


.credit-cards::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.credit-cards::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
    height: 3px;
    display: none;
}

.credit-cards::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.section-title{
    /* background-color: #9fd3c77c; */
    font-size: 24px;
    /* text-transform: ; */
}

.cards-scroller{
    position: absolute;
    height: 60%;
    width: 30px;
    /* background-color: #27272773; */
    font-size: 40px;
    color: rgba(0, 0, 0, 0.719);
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
    top: 30%;
    /* right: 30px; */
    /* margin: 0px 20px; */

}

.card-sc-right {
    right: -25px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
}
.card-sc-left{
    left: -9px;
}

.cards-scroller:hover{
    background-color: rgba(0, 171, 238, 0.596);
    color: rgba(255, 255, 255, 0.596);
    transition: all ease-in-out 100ms;
}

.cards-section{
    position: relative;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg : #9fd3c7;
    --bs-btn-border-color: #9fd3c7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9fd3c7;
    --bs-btn-hover-border-color: #9fd3c7;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9fd3c7;
    --bs-btn-active-border-color: #9fd3c7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9fd3c7;
    --bs-btn-disabled-border-color: #9fd3c7;
}

.wallet-info-label .fas{
    font-size: 15px;
    color:orange;
}


.card-sc-left{
    display: none;
}

.overdraft-warning{
    display: none;
    position: absolute;
}


.expense-card-bal-cont{
    width: 200px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: #2e2e2e;
    color: #fff !important;
    position: absolute;
    right: 0;
}

.expense-card-bal-cont .spend-amount{
    color: #fff !important;
}

.expense-card-bal-cont .spend-amount{
    font-size: 20px;
    color: #142d4c;
    font-weight: 900;   
    padding: 4px;
}

.reporting-days-total{
    padding: 10px 20px;
    /* background-color: ; */
}

.reporting-total-symbol{
    padding: 10px;
    background-color: #142d4c;
    color: white;
    font-weight: 600;
}


/* New wallet card design */

.wallet-card{
    width: 350px;
    height: 100px;
    color: white;
    background-image: linear-gradient(135deg, #636262 0%, #3d3b43 100%);
    border-radius: 16px;
    border: 1px solid rgba(120, 225, 211, 0.1);
    transition: all ease-in-out 100ms;
    font-family: 'Montserrat', sans-serif;
}
.wallet-card:hover{
    transition: all ease-in-out 100ms;
}
.wallet-card .bank-name{
    font-size: 17px;
    text-transform: capitalize;
}

.wallet-card .modal .bank-name{
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.wallet-card .balance{
    font-size: 20px;
    text-transform: capitalize;
    /* margin: 30px 0px; */
    width: 100%;
}

.wallet-card .rupee-symbol{
    font-size: 30px;
}

.wallet-card .modal{
    color: black;
}

.acct-type-ico{
    font-size: 30px;
    margin-right: 10px;
    background-color: #24232a;
    padding: 7px 13px;
    border-radius: 20px;
}

.wallet-card #open-wallet-btn{
    width:100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

#all-wallets-container{
    display: flex;;
    flex-wrap: wrap;
}

.cards-container .modal .amount{
    font-size: 40px;
}

.uncommon-wallet-field .ucf-key{
    width: 100px;
    font-weight: bold;
    /* background-color: red; */
}

.uncommon-wallet-field .ucf-value:hover{
    border-bottom: 1px solid black;
}

.uncommon-wallet-field{
    display: flex;
    overflow: hidden;
    max-height: 90px;
}


.wallet-split .account-name{
    padding: 10px;
}

.wallet-split .account-spend{
    padding: 10px;

}

.view-expense-modal  .category{
    padding: 10px 10px;
    font-size: 25px;
    width: 100% ;
    position: relative;
}

.category-section .category-ico{
    font-size: 25px;
    padding: 10px 10px;
    border: 1px solid  white;
}

.card-field{
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);

}

.card-field div{
    width: 50%;
    padding: 10px;
}

.card-field .label{
    color: #142d4c;
    background-color: #43cead;
}

.card-field .value{
    color: #142d4c;
    background-color: #43ceae70;
}

.all-tags-msection .fas{
    background-color: #43cead;
    border: 5px solid #F08080;
    padding: 7px;
    border-radius: 50%;
    /* font-weight: ; */
    font-size: 13px;
}

.card-field .expense-note{
    height: 100px;
    overflow-y: scroll;
}

/* #allIncomes{
    width: 700px;
} */

#allIncomes .modal-body{
    height: 400px !important;
    overflow: scroll;
}

.pending-bill-btn{
    border: 1px solid #9fd3c7;
    padding: 10px 20px;
    border-radius: 5px;
}

.expired-expense-ico{
    color: rgba(255, 0, 0, 0.461) !important;
    font-size: 17px;
}

.expired-expense-ico:hover::after{
    content: 'wallet deleted';
}

.all-tags-msection{
    background-color: #9fd3c7;
    padding:10px;
    border-radius:5px;
    display: flex;
    flex-wrap: wrap;
}

#allIncomes .modal-content{
    width: 800px;
}

.toast-container{
    /* position: absolute;
    top:50px; */
    top:5px;
    right:100px;
}

.ucf-value{
    overflow-wrap: break-word !important;
    overflow: hidden;
}

.toast-header{
    color:black;
}




/* Weekly Calendat View */


#myc-container {
    width: inherit;
}

#myc-nav-container {
    margin-bottom: 15px;
    width: inherit;
}

#myc-current-month-year-container {
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(84, 84, 84);
    text-decoration: none;
    height: 1.75em;
    line-height: 1.65em;
    padding: 0px 0.65em;
    box-sizing: border-box;
    transition: background 0.1s ease 0s;
    cursor: default;
    background: rgb(238, 238, 238) !important;
    border: 1px solid rgb(204, 204, 204) !important;
    color: rgb(84, 84, 84) !important;
    border-radius: 1em;
    text-transform: uppercase;
}

.active-weekly-day{
    background-color: #504f53;
    color: #fff;
}

#myc-prev-week-container {
    display: inline-block;
    width: 15%;
}

#myc-next-week-container {
    display: inline-block;
    width: 15%;
}

#myc-prev-week {
    /* border: 1px solid #e0e0e0; */
    border-radius: 80px;
    color: rgb(88, 88, 88);
    cursor: pointer;
    float: left;
    font-size: 1em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    font-weight: 900;
    width: 40px;
}

#myc-next-week {
    /* border: 1px solid #e0e0e0; */
    border-radius: 80px;
    color: rgb(88, 88, 88);
    cursor: pointer;
    float: right;
    font-size: 1em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
    font-weight: 900;
}

#myc-prev-week:hover, #myc-next-week:hover {
    /* border: 1px solid #bdbdbd; */
    color: #000;
}

#myc-week-container {
    /* border: 1px solid #e0e0e0; */
}

#myc-dates-container {
    background-color: #fafafa;
    width: 100%;
}



.myc-date-header {
    border: 1px solid #e0e0e0;
    display: inline-block;
    min-height: 50px;
    padding: 15px 0px 15px 15px;
    vertical-align: top;
    width: 13.77%;
}

.myc-date-header:first-of-type {
    padding-left: 15px;
}

.myc-date-header:last-of-type {
    border-right: none;
}

#myc-available-time-container {
    border-top: 1px solid #e0e0e0;
    height:550px;
    overflow-y: scroll;
    padding:5px;
}

#myc-current-month-year-container{
    cursor: pointer;
}

.myc-day-time-container {
    /*border-right: 1px solid #e0e0e0;*/
    display: inline-block;
    height: 100%;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
    width: 13.77%;
}

.myc-day-time-container:first-of-type {
    padding-left: 15px;
}

.myc-day-time-container:last-of-type {
    border-right: none;
    width: 13%;
}

.myc-date-number {
    font-size: 1.8em;
    font-weight: lighter;
}

.myc-available-time {
    background-color: #29b6f6;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.myc-available-time.selected, .myc-available-time:hover {
    background-color: #222;
}

.myc-date-display {
    font-weight: lighter;
}

@media only screen and (max-width: 768px) {
    .myc-date-header, .myc-day-time-container {
        width: 13.5%;
    }
    /*.myc-date-header:last-of-type, .myc-day-time-container:last-of-type {
        width: 12%;
    }*/
}
